@font-face {
    font-family: UbuntuBold;
    src: url(assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: UbuntuMedium;
    src: url(assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: UbuntuRegular;
    src: url(assets/fonts/Ubuntu-Regular.ttf);
}
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(215, 100%, 97%);
}
.container{
    height:80vh;
    width:80vw;
    background-color:hsl(0, 0%, 100%);
    border-radius:15px;
    box-shadow:0px 20px 40px hsla(225, 12%, 87%, 0.801);
    display:flex;
    flex-direction:row;
}
.col-1,.col-2{
    height:100%;
}
.col-1{
    flex:30%;
    background-color:blue;
}
.col-2{
    flex:70%;
}

@media only screen and (min-width:768px){}

@media only screen and (min-width:1280px){
    .container{
        height:80vh;
        width:80vw;
        box-shadow:0px 20px 40px hsla(225, 12%, 87%, 0.801);
        flex-direction:row;
        padding:1rem;
    }
    .col-1,.col-2{
        height:100%;
    }
    .col-1{
        flex:30%;
        border-radius:15px;
    }
    .col-2{
        flex:70%;
        border-radius:15px;
    }
}